/* Colores */
//Variables

$colores: (
    verde: #6bba49,
    verdeClaro: #c7e3ba,
    rosa: #FDAFC2,
    naranja: #FF914D,
    celeste: #7bbfbf,
    blanco: white,
    claro:#f3f5f1,
    verdeMuyClaro:#eaf6de,
    negroClaro:#222b2b
);

@mixin colorCaja($color)
{
    background-color: $color;
    border: 2px solid $color;
}

@each $color,$valor in $colores {
    .#{$color}{
        @include colorCaja($valor);
    }
}