/* Diseño */

.hoverBoton{
    border:3px solid;
    &:hover{
        border: white;
    }
}

.relleno {
    margin: 15px;
    border-radius: 5px;
    
}

.redondo {
    border-radius: 5px;
}

.fondoCielo {
    background-image: url(../images/cielo-con-nubes_5102x3567_xtrafondos.com.jpg);
}

/* Contacto y Validar */
/* Guía de lugares */
#main {
    nav {
        &.filtros{
            width:60%;
            margin: 1% 20% ;
            text-align: center;
            background-color: map-get($colores, celeste);
            ul{
                padding: 0%;
            }
            li.filtra{
                width:auto;
                height: auto;
                text-align: center;
            }
            li.buscar{
                margin: 1% 5%;
                height: auto;
                text-align: center;
            }
        }
    }

    #listadoLugares{
        ul{
            margin: 5%;
            text-align: center;
            padding: 0;
        }
        li{
            &.itemGuia{
                padding: 1%;
                margin: 1%;
                height: 350px; 
                width: 500px;
                background-color: map-get($colores, claro );
                &:hover{
                    background-color: map-get($map: $colores, $key: verdeMuyClaro);
                }
            }
        }
    }

    .dataValid {
        li{
            margin: 10px;
            text-align: center;
        }
        input{
            bottom: 0;
         }
    }
    
    .lugar {
        margin: 10px;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

/* Información */
article {
    width: 100%;
    margin: 1%;
    &:nth-child(n){
        margin-top: 0.5%;
    }
}

section{
    .info{
        width: 80%;
        margin: 2% 10%;
        padding: 1%;
        background-color: map-get($map: $colores, $key:verdeMuyClaro );
    }
}