/* Diseño */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hoverBoton{
    border:3px solid rgba(255, 255, 255, 0);
    &:hover{
        border:3px solid rgba(255, 255, 255, 0.484);
    }
}

.relleno {
    margin: 15px;
    border-radius: 5px;
    
}

.redondo {
    border-radius: 5px;
}

.fondoCielo {
    background-image: url(../images/cielo-con-nubes_5102x3567_xtrafondos.com.jpg);
}

.botones {
    a{
        /*  background-color: #7cbd9e; */
         display: inline-block;
         width: 30%;
         border-radius: 10px;
         padding: 10px;
         
         text-align: center;
        
         /* margin-top: 30px; */
         margin: 2% 35%;
         text-decoration: none;
     }
}

.pie{
    background-color: rgb(247, 247, 247);
    height: 60px;
    padding: 10px;
    div {
        a {
            text-decoration: none;
            color: #FF914D;
        }
    }
    .logo {
        img {
            width: auto;
            height:50px;
        }
    }
    
}

/* Contacto y Validar */

/* Guía de lugares */
#main {
    nav {
        &.filtros{
            width:60%;
            margin: 1% 20% ;
            text-align: center;
            background-color: map-get($colores, celeste);
            ul{
                padding: 0%;
            }
            li.filtra{
                width:auto;
                height: auto;
                text-align: center;
            }
            li.buscar{
                margin: 1% 5%;
                height: auto;
                text-align: center;
            }
        }
    }

}
#listadoLugares{
    ul{
        margin: 5%;
        text-align: center;
        padding: 0;
    }
    li{
        &.itemGuia{
            padding: 1%;
            margin: 1%;
            height: 350px; 
            width: 500px;
            background-color: map-get($colores, claro );
            &:hover{
                background-color: map-get($map: $colores, $key: verdeMuyClaro);
            }
        }
    }
}

.dataValid {
    li{
        margin: 10px;
        text-align: center;
    }
    input{
        bottom: 0;
     }
}

.lugar {
    margin: 10px;
    iframe{
        width: 100%;
        height: 100%;
    }
}

/* Información */
article {
    width: 100%;
    margin: 1%;
    &:nth-child(n){
        margin-top: 0.5%;
    }
}

section{
    &.info{
        width: 80%;
        margin: 2% 10%;
        padding: 1%;
        background-color: map-get($map: $colores, $key:verdeMuyClaro );
    }
}