/* Estructura */
/* Grid */
.gridHeader {
    grid-area: encabezado;
}
.gridFooter {
    grid-area: pie;
}

.gridBody {
    display: grid;
    width: 100%;
    height:100vh;
}
/* Index */

.gridBodyInicio {
    @extend .gridBody;
    grid-template-areas:
    "encabezado  "
    "principal  "
    "seccion "
    "sponsors"
    "pie ";
    grid-template-columns: 1fr;
    .gridMain {
        grid-area: principal;
    }
    .gridSection {
        grid-area: seccion;
    }
    .gridSponsors{
        grid-area: sponsors;
    
    }
}

/* Guía */
.gridBodyGuia {
    @extend .gridBody;
    grid-template-areas:
    "encabezado  encabezado"
    "mainGuia mainGuia "
    "seccLugares seccLugares"
    "pie pie";
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto 1fr 2fr auto;

    .gridMainGuia {
        grid-area: mainGuia;
    }
    
    .gridSectionLugares {
        grid-area: seccLugares;
    }
    
}

/* Validar */
.gridBodyValidar {
    @extend .gridBody;
    grid-template-areas:
    "encabezado "
    "mainValidar "
    "formulario"
    "pie";
    grid-template-columns:1fr;
    grid-template-rows:auto 1fr 3fr auto;
    .gridMainValidar {
        grid-area: mainValidar;
    }
    .gridCompletar {
        grid-area: formulario;
    }
}
/* +Info */
.gridBodyInfo {
    @extend .gridBody;
    grid-template-areas:
    "encabezado "
    "mainInfo "
    "info"
    "pie";
    grid-template-columns:1fr;
    //grid-template-rows:auto 1fr 2fr auto;
    .gridMainInfo{
        grid-area: mainInfo;
    }
    .gridFullInfo{
        grid-area: info;
    }
}
/* Contacto */
.gridBodyContacto {
    @extend .gridBody;
    grid-template-areas:
    "encabezado "
    "mainContacto "
    "contacto"
    "pie";
    grid-template-columns:1fr;
    grid-template-rows:auto 1fr 2fr auto;
    .gridMainContacto{
        grid-area: mainContacto;
    }
    .gridContacto {
        grid-area: contacto;
    }
}

/* Estructura interna */
.pie{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}
/* Index */
#main {
    .inicio{
        display: flex;
    }
    video{
        width: 100%;
        height: auto;
        text-align: center;
    }
}
#mandarAtras {
    z-index: -1;
}
#mod_der,#mod_izq {
    display: inline-block;
}
#mod_izq {
    border: 0;
}
#modulos{
    section{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }
}
/* Contacto */
#contacto {
    margin-top: 10px;
    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.input {
    
    .final{
        display: flex;
        flex-flow: column nowrap;
        align-content:center;
        text-align: center;
        .boton{
            width: auto;
            text-align: center;
        }
        label{
            display: inline;
        }
    }
}

/* Validar */
#infoValid {
    form{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        
    }
    div.checkGrande {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

/* Guía de lugares */
#main{
    .filtros {
        ul{
            display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        }
    }
}

#listadoLugares{
    &>ul{
        display: flex;
        z-index: 1000;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        align-content: space-around;
    }
    li{
        &.itemGuia{
            &>div{
                display: flex;
                z-index: 1000;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}