/* Animaciones */
/* @keyframes anima-input {
    50%{
        background-color: rgba(188, 233, 250, 0.479);
    }
    100%{
        background-color: rgb(188, 233, 250);
    }
} */
/* Formularios */
.input {
    padding: 15px;
    text-align: center;
    align-content: center; 

    input{
        /* font-family: 'Karla', sans-serif;
        font-weight: 100; */
        padding: 10px;
        margin: 10px;
        display: inline;
        width: 90%;
        position: relative;
        text-align: left;
        &:not(.boton){
            transition: all 1s;
            &:focus{
                background-color: rgb(188, 233, 250);
            }
            &:not(:placeholder-shown){
                background-color: rgb(192, 226, 192);
            }
        }
        
    }
    label{
        display: block; 
    }
    select{
        color: rgb(48, 53, 55);
        padding: 10px;
        margin: 10px;
        display: inline;
        width: 90%;
        position: relative;
        transition: all 0.5s;
        &:focus{
            background-color: rgb(188, 233, 250);
        }
    
    }

    textarea{
        padding: 10px;
        margin: 10px;
        width: 90%;
        color: rgb(48, 53, 55);
        transition: all 1s;
        &:focus{
            background-color: rgb(188, 233, 250);
        }
        &:not(:placeholder-shown){
            background-color: rgb(192, 226, 192);
        }
    }

    .check{
        display: inline;
        width: 10%;
    }
}

.checkGrande{
    &:nth-child(n){
        display: inline;
        margin:0;
    }
}

